h1 {
  color: green;
  text-align: center;
  font-style: oblique;
  font-family: sans-serif;

}
P {
  color: green;
  font-style: italic;
  font-family: sans-serif;
}
H2 {
  color: green;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;

.triangles {
  line-height: 40px;
  text-align: center;
  color: green;
}

#para1 {
  font: bold 'trebuchet ms',helvetica,sans-serif;
  color: green;
}
